* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
}

.calculator {
    border: 1px solid navy;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.calculator-input {
    width: 100%;
    font-size: 4rem;
    height: 70px;
    border: none;
    background-color: black;
    color: white;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    height: 50px;
    background-color: black;
    border-radius: 3px;
    border: 1px solid red;
    background-color: transparent;
    font-size: 2.5rem;
    color: blue;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #337cac;
}

.clear {
    background-color: rgb(169, 40, 40);
    border-color: black;
    color: white;
}

.clear:hover {
    background-color: indianred;
}

.equal-sign {
    background-color: black;
    border-color: red;
    color: white;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover {
    background-color: rgb(36, 36, 131);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px
}