#container {
  text-align: center;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputsearch {
  margin-right: 10px;
  padding: 5px;
}

#search {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#clear{
  background-color: #b80f30;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



#img-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
}

img {
  border-radius: 5px;
}
